html {
  scroll-behavior: smooth;
     cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body{
	padding: 0;
	margin: 0;
	font-family: Arial;
	
}

#header_dsktp{
	min-height: 15vh;
	width: 100vw;
	background: rgba(255,255,255,1);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	display: flex;
	justify-content: space-around;
	position: fixed;
	top: 0;
}

#header_dsktp .left{
	width: 15vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#header_dsktp .left .logo{
	width: 180px;
	height: 80px;
	background: url('../pics/fyn_radio_logo_2.png') no-repeat;
	background-size: contain;
	background-position: center center;
}

#header_dsktp .right{
	width: 50vw;
	display: flex;
	flex-direction: column;
}

#header_dsktp .right .contact_info{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 50px;
}

#header_dsktp .right .contact_info i{
	padding: 0 5px 0 0;
}

#header_dsktp .right .contact_info a{
	padding: 0 5px 0 20px;
	text-decoration: none;
	color: rgba(0,0,0,0.4);
	font-family: Arial;
	font-size: 0.8rem;
	transition: 0.3s;
}

#header_dsktp .right .contact_info a:hover{
	color: #00aeef;
}

#header_dsktp .right .menu{
	height: 100%;
	display: flex;
	align-items: center;

}

#header_dsktp .right .menu ul{
	list-style-type: none;
	overflow: hidden;
}

#header_dsktp .right .menu li{
	float: left;
	padding: 0 20px 0 0;
}

#header_dsktp .right .menu li a{
	text-decoration: none;
	color: #00aeef;
	font-family: Arial;
	transition: 0.7s;
}

#header_dsktp .right .menu li a:hover{
	color: red;
}

#header_dsktp .right .menu button{
	padding: 10px;
	width: 150px;
	margin-left: 40px;
	background: #00aeef;
	border: 1px solid #00aeef;
	border-radius: 5px;
	color: white;
	transition: 0.5s;
}

#header_dsktp .right .menu button:hover{
	cursor: pointer;
	background: none;
	color: #00aeef;
	font-size: 1rem;
}













#home{	
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: url('../pics/bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	
}

#home .top{
	display: flex;
	height: 65vh;
}

#home .top .home_left{
	width: 40vw;
}

#home .top .home_left h1{
	margin: 40vh 20px 0 20px;
	font-family: Arial;
	font-weight: normal;
	font-size: 3rem;
	text-align: center;
	color: #fff;
	text-shadow: 2px 0px 5px black;
}

#home .top .home_right{
	width: 60vw;
}


#home .bottom{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* background: rgba(255,255,255,0.5); */
	height: 30vh;
}

#home .bottom h2{
	font-weight: normal;
	font-size: 0.9rem;
	color: red;
	text-align: center;
}



#home .bottom button{
	width: 200px;
	padding: 15px;
	border: none;
	background: #00aeef;
	color: white;
	border-radius: 3px;
	font-size: 1rem;
	transition: 0.5s;
}

#home .bottom button:hover{
	cursor: pointer;
	background: red;
	font-size: 1.2rem;
	padding: 12px;
}

#features {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
}

#features .top{
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
#features .top h3{
	font-size: 3rem;
	padding: 20vh 0 1vh 0;
	margin: 0;
	text-align: center;
}

#features .top p{
	width: 85%;
	text-align: center;
	font-style: italic;
	width: 75%;
}


#features .feature_list{
	display: flex;
	align-items: center;
	margin: 20px 50px 0 50px;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 75%;
	height: auto;
}

#features .feature_list .feature_item{
	width: 20vw;
	min-height: 250px;
	/* background: rgba(0,0,0,0.05);  */
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}

#features .feature_list .feature_item img{
	width: 100px;
	height: 100px;
}

#features .feature_list .feature_item h4{
	color: #00aeef;
	margin: 0;
	padding: 0;

}

#features .feature_list .feature_item p{
	font-size: 0.8rem;
	text-align: center;
	padding: 10px 0 0 0;
	margin: 0;
	width: 75%;
}


#features .feature_list .feature_item p a{
	text-decoration: none;
	color: black;
}







#pricing{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #00aeef;
}

#pricing h3{
	font-size: 3rem;
	padding: 20vh 0 5vh 0;
	margin: 0;
	color: white;
	font-weight: normal;
	text-align: center;
}


#pricing .plans_container{
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#pricing .plans_container p{
	text-align: center;
	font-size: 1vw;
	text-align: center;
}

#pricing .plans_container button{
	padding: 5px;
	width: 12vw;
	border: none;
	background: white;
	color: green;
	margin: 0 0 10px 0;
	font-weight: bolder;
	font-size: 1.5vw;
	border: 1px solid #f1f1f1;
	transition: 0.5s;
}

#pricing .plans_container button:hover{
	cursor: pointer;
	background: red;
	color: white;
}


#pricing .plans_container h5{
	font-size: 1.8vw;
	text-align: center;
	padding: 0;
	margin: 10px 0 0 0;
	width: 50%;
}


#pricing .plans_container .plan_item1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: #eeeeee;
	width: 18vw;
	height: 90%;
	transition: 0.4s;
}


#pricing .plans_container .plan_item1:hover{
	background: red;
	color: white;
	height: 95%;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
}


#pricing .plans_container .plan_item2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: #00ffff;
	width: 18vw;
	height: 90%;
	transition: 0.4s;
}

#pricing .plans_container .plan_item2:hover{
	background: red;
	color: white;
	height: 95%;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
}


#pricing .plans_container .plan_item3{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: green;
	width: 18vw;
	height: 98%;
	color: white;
	transition: 0.4s;
}

#pricing .plans_container .plan_item3:hover{
	background: red;
	color: white;
	height: 100%;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
}


#pricing .plans_container .plan_item4{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	width: 18vw;
	height: 90%;
	transition: 0.4s;
}

#pricing .plans_container .plan_item4:hover{
	background: red;
	color: white;
	height: 95%;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
}

#pricing .plans_container .plan_item5{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: #ffecd8;
	width: 18vw;
	height: 90%;
	transition: 0.4s;
}

#pricing .plans_container .plan_item5:hover{
	background: red;
	color: white;
	height: 95%;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
}

#includes{
	background: #fff url('../pics/free__with_every_plan.webp') no-repeat;
	background-size: cover;
	background-position: center;
	height: 80vw;
	width: 100%;
}











#about{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 20px 20vh 20px;
}

#about h3{
	font-size: 3rem;
	padding: 18vh 0 5vh 0;
	margin: 0;
	color: #00aeef;
	font-weight: normal;
	text-align: center;
}

#about p{
	width: 75%;
}

#about p a{
	text-decoration: none;
	color: black;
}


#about button{
	width: 200px;
	padding: 15px;
	border: none;
	background: #00aeef;
	color: white;
	border-radius: 3px;
	font-size: 1rem;
	transition: 0.5s;
}

#about button:hover{
	cursor: pointer;
	background: red;
	font-size: 1.1rem;
	padding: 14px;
}









#faq{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background: #f9f9f9;
	padding: 3vh 0 20vh 0;
}

#faq h3{
	font-size: 3rem;
	padding: 18vh 0 5vh 0;
	margin: 0;
	color: #000;
	font-weight: normal;
	text-align: center;
}


#faq .faq_q{
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 60vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.5s;
  background: none;
}

#faq .faq_q:before{
  content: '+';
  color: #777;
  margin-right: 15px;
}

#faq .active:before {
  content: '-';
}







#faq .faq_a{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 54vw;
  transition: 0.5s;
  color: #00aeef;
}

#faq .faq_a a{
	color: #00aeef;
}









#contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vh 0 10vh 0;
	background: #00aeef;
}

#contact h3{
	font-size: 3rem;
	padding: 17vh 0 2vh 0;
	margin: 0;
	color: #fff;
	font-weight: normal;
	text-align: center;
}

#contact p{
	color: white;
	width: 50%;
	text-align: center;
	font-size: 0.8rem;
}

#contact p a{
	text-decoration: none;
	color: white;
}


#contact form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact form span{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1px;
}

#contact form label{
	padding: 15px;
	color: white;
	width: 60px;
	text-align: right;
}

#contact form input{
	padding: 10px;
	background: #00aeef;
	border: 1px solid white;
	color: white;
	border-radius: 3px;
	width: 200px;
}

#contact form textarea{
	padding: 10px;
	background: #00aeef;
	border: 1px solid white;
	color: white;
	border-radius: 3px;
	min-height: 60px;
	width: 200px;	
}


#contact form button{
	padding: 5px;
	width: 100px;
	border: none;
	border-radius: 2px;
	color: #00aeef;
	font-size: 1.1rem;
	font-weight: normal;
	margin: 10px;
	transition: 0.5s;
	background: white;
} 

#contact form button:hover{
	cursor: pointer;
	padding: 10px;
}










/* trial_form */

#trial_form{
	padding: 20vh 0px 0px 0px;
	min-height: 66vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #00aeef;
	flex-wrap: wrap;
}

#trial_form .trial_left{
	width: 30%;	
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 15vw;
}

#trial_form .trial_left h1{
	font-weight: normal;
	font-size: 3rem;
	padding: 0;
	margin: 0;
	text-align: center;
}

#trial_form .trial_right{
	padding: 20px;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	border-radius: 10px;
	margin-bottom: 20px;
}

#trial_form .trial_right form{
	display: flex;
	flex-direction: column;
	width: 100%;
}

::placeholder{
	color: white;
	opacity: 0.8;
}

#trial_form .trial_right form input{
	padding: 10px;
	border-radius: 3px;
	border: none;
	margin: 5px;
	transition: 1s;
	width: 90%;
	background: none;
	border: 1px solid white;
	color: white;
}



#trial_form .trial_right form label{
	color: white;
	margin: 30px 10px 0 5px;

}

#trial_form .trial_right form select{
	padding: 10px;
	border: none;
	border-radius: 3px;
	background: none;
	border: 1px solid white;
	color: white;
	margin-top: 30px;
}

#trial_form .trial_right form select option{
	color: #00aeef;
}

#trial_form .trial_right form textarea{
	padding: 10px;
	height: 80px;
	width: 90%;
	border: none;
	border-radius: 3px;
	background: none;
	border: 1px solid white;
	color: white;
	margin: 0 10px 0 5px;
}

#trial_form .trial_right form button{
	padding: 5px;
	background: white;
	border: none;
	color: #00aeef;
	font-size: 1.3rem;
	transition: 1s;
	width: 50%;
	margin: 10px 0px 0 5px;
}

#trial_form .trial_right form button:hover{
	cursor: pointer;
	background: none;
	border: 1px solid white;
	padding: 10px;
	color: white;
}






footer{
	display: flex;
	flex-wrap: wrap;
	background: #585858;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}


footer .lowest_info{
	display: flex;
	align-items: center;
	font-family: Arial;
	font-size: 0.8rem;
	color: rgba(255,255,255,0.5);
	margin: 20px;
	width: 40vw;
}

footer .lowest_info a{
	text-decoration: none;
	padding: 20px;
	color: rgba(255,255,255,0.5);
	transition: 0.5s;
}

footer .lowest_note{
	color: white;
	text-align: center;
	font-family: Arial;
	font-size: 0.7rem;
	color: rgba(255,255,255,.3);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30vw;
	height: 20px;
}

footer .lowest_note a{
	text-decoration: none;
	color: rgba(255,255,255,.3);
	padding-left: 5px;
	transition: 0.5s;
}

footer a:hover{
	color: #00aeef;
}






















/* PRIVACY POLICY */

#p_policy{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

#p_policy h2{
	margin: 20vh 0 20px 0;
	font-size: 2rem;
	color: #00aeef;
}

#p_policy ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 75vw;
}

#p_policy li{
	font-weight: bold;
	padding: 40px 0 0 0;
	text-align: left;
}

#p_policy ul p{	
	text-align: justify;
}

#p_policy ul p a{
	color: black;
}





/* TERMS & cONDITIONS */
#terms_and_conditions{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

#terms_and_conditions h2{
	margin: 20vh 0 20px 0;
	font-size: 2rem;
	text-align: center;
	color: #00aeef;
}

#terms_and_conditions h3{
	padding: 50px 0 0 0;
	margin: 0;
	text-align: left;
}

#terms_and_conditions p{
	width: 75vw;
	text-align: justify;
}

#terms_and_conditions p a{
	color: black;
}

#terms_and_conditions ol{
	width: 75vw;
}



























/* MEDIA QUERY */

@media only screen and (max-width: 425px){

	#home .top .home_left{
		width: 100vw;
		height: 57vh;
	}

	#home .top .home_left h1{
		margin: 12vh 0 0 0;
		font-size: 12vw;
		padding: 20px;
	}

	#home .top .home_right{
		display: none;
	}

	#home .bottom{
		height: 25vh;
	}

	#home .bottom button{
		border-radius: 50%;
		height: 90px;
		width: 90px;
	}

	#home .bottom h2{
		font-size: 4vw;
		width: 75%;
	}

	#features .top h3{
		font-size: 10vw;
		padding: 8vh 0 2vh 0;
	}

	#features .top p{
		font-size: 4vw;
	}

	#features .feature_list .feature_item{
		width: 100%;
	}

	#pricing h3{
		padding: 7vh 0 5vh 0;
		font-size: 10vw;
		height: auto;
	}

	#pricing .plans_container{
		flex-direction: column;
		width: 75%;
		height: auto;
	}

	#pricing .plans_container h5{
		font-size: 5vw;
	}

	#pricing .plans_container p{
		font-size: 4vw;
	}

	#pricing .plans_container button{
		font-size: 7vw;
		padding: 10px;
		width: 70px;
		height: 70px;
		border-radius: 50%;
	}

	#pricing .plans_container .plan_item1{
		width: 75%;
	}

	#pricing .plans_container .plan_item2{
		width: 75%;
	}

	#pricing .plans_container .plan_item3{
		width: 85%;
	}

	#pricing .plans_container .plan_item3 button{
		font-size: 4vw;
		text-align: center;
		overflow: hidden;
		padding: 2px;
	}

	#pricing .plans_container .plan_item4{
		width: 75%;
	}

	#pricing .plans_container .plan_item5{
		width: 75%;
	}



	#pricing .plans_container .plan_item1:hover{
		width: 80%;

	}

	#pricing .plans_container .plan_item2:hover{
		width: 80%;

	}

	#pricing .plans_container .plan_item3:hover{
		width: 90%;

	}

	#pricing .plans_container .plan_item4:hover{
		width: 80%;

	}

	#pricing .plans_container .plan_item5:hover{
		width: 80%;

	}

	#about h3{
		padding: 2vh 0 2vh 0;
	}

	#about p{
		width: 85%;
		text-align: center;
	}

	#faq{
		padding: 0 0 10vh 0;
	}

	#faq h3{
		padding: 5vh 0 2vh 0;
		font-size: 10vw;
	}

	#faq .faq_q{
		width: 100%;
		font-size: 3.5vw;
	}
	
	#faq .faq_a{
		width: 90%;
	}

	#contact h3{
		padding: 3vh 0 3vh 0;
	}

	#contact p{
		width: 85%;
	}

	#contact form label{
		display: none;
	}

	#p_policy h2{
		margin: 12vh 0 5vh 0;
	}

	#terms_and_conditions h2{
		margin: 12vh 0 5vh 0;
	}

	#trial_form{
		padding: 20px;
	}

	#trial_form .trial_left{
		width: 100%;
		padding-bottom: 25px;
	}

	#trial_form .trial_left h1{
		margin: 10vh 0 0 15px;
		font-size: 9vw;
		font-weight: bolder;
	}

	#trial_form .trial_right{
		width: 75%;
	}
	footer{
		flex-direction: column;
		align-items: center;
	}

	footer .lowest_info{
		width: 90vw;
		margin: 10px 10px 10px 10px;
	}

	footer .lowest_info p{
		font-size: 3vw;
		text-align: center;
	}

	footer .lowest_info a{
		font-size: 3vw;
		text-align: center;
	}



	footer .lowest_note{
		width: 75%;
		padding-bottom: 20px;
		font-size: 2.5vw;
	}



}
